.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  margin-bottom: 0;
}

.tab-list-item {
  transition: 75ms;
  display: inline-block;
  list-style: none;
  color: #0E6EB8;
  margin-bottom: -1px;
  padding: 0.75em 1em;
  cursor: pointer;
  width: 50%;
  font-size: 1.5em;
  text-align: center;
  border-color: #ccc
}

.tab-list-item:hover {
  color: black
}

.tab-list-active {
  background-color: white;
  color: black;
  border: solid #ccc;
  border-width: 1px 1px 0px 1px;
}

.tab-content {
  padding: 1.5em 0;
}